.App {
  padding: 0 40px;
}

.button {
  margin-bottom: 20px;
}

.cards-wrap {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.card {
  border: 1px solid black;
  width: 200px;
  min-height: 350px;
  margin: 10px;
  display: flex;
  align-items: center;
}
.card-title {
  font-weight: bold;
}
.title {
  color: orange;
}
.img {
  width: 100%;
  height: 150px;
}

.descr-wrap {
  padding: 10px;
}
